[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool.git
[submodule "libxdp"]
	path = libxdp
	url = https://github.com/xdp-project/xdp-tools.git
[submodule "libargparse"]
	path = libargparse
	url = https://github.com/cofyc/argparse.git
